<ion-header>
  <ion-toolbar color="success">
    <ion-title>Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p style='margin-left: 5%;font-weight: bold;margin'>AP General Services 
    <!-- <span style="margin-left: 20%;font-size:26px;margin-top:15%;"><ion-icon name="cart-outline"></ion-icon></span>
    <span style="margin-left: 6%;margin-top: -10%;"><ion-button color="primary" fill="outline">LOGIN</ion-button></span> -->
    <ion-row style="width: 40%;margin-left: 60%;margin-top:-7%;">

      <ion-col>
        <span style="margin-top:45%;"><ion-icon name="cart-outline" style="font-size: 30px;"></ion-icon></span>
      </ion-col>

      <ion-col>
        <span><ion-button color="primary" fill="outline">LOGIN</ion-button></span>
      </ion-col>

    </ion-row>
  </p>
  <ion-searchbar placeholder="Search for Brands,Electronics & more"></ion-searchbar>

  <div style="margin-top: 10%;height: 100%;">
  
    <ion-row style="height: 40%;">
      
      <ion-col>
        <ion-card style="height: 50%;">
          <ion-img src="/assets/seller.jpg" style="height: 90%;width: 100%;" routerLink="/buysell" routerDirection="root"></ion-img>
        </ion-card>
        <p style="text-align: center;">Buy And Sell</p>
      </ion-col>

      <ion-col>
        <ion-card style="height: 50%;">
          <ion-img src="/assets/repair.jpg" style="height: 90%;width: 100%;" routerLink="/repair" routerDirection="root"></ion-img>
        </ion-card>
        <p style="text-align: center;">Repair and Maintain</p>
      </ion-col>

    </ion-row>

    <ion-row style="height: 40%;">
      
      <ion-col>
        <ion-card style="height: 50%;">
          <ion-img src="/assets/desert.jpg" style="height: 90%;width: 100%;" routerLink="/food" routerDirection="root"></ion-img>
        </ion-card>
        <p style="text-align: center;">Food</p>
      </ion-col>

      <ion-col>
        <ion-card style="height: 50%;">
          <ion-img src="/assets/education.jpg" style="height: 90%;width: 100%;" routerLink="/education" routerDirection="root"></ion-img>
        </ion-card>
        <p style="text-align: center;">Education</p>
      </ion-col>

    </ion-row>

  </div>

  
  
</ion-content>
